body {
    background-color: #d3b2a7;
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7));
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 0.9s ease;

    
}

#tabla{
    width: 250px;
	height: 350px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #e7dede;
}