body {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ), url('https://4kwallpapers.com/images/walls/thumbs_3t/14433.jpeg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    animation: move 10s ease infinite;
}

@keyframes move {
    0% {background-position: center bottom;}
    50% {background-position: center top;}
    100% {background-position: center bottom;}
}
.card-body {
   
    width: 800px;

}

.btn.btn-primary.btn-block{
    align-items: center;
    width:320px;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    

}

.card {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease;

    
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.card-header {
    background: none;
    border-bottom: none;
    
}

.card-header h2 {
    color: #333;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.card-body {
    padding: 2rem;
}

.btn-primary {
    background: #b18b8b;
    border: none;
    border-radius: 50px;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btn-primary:hover {
    background: #a00707;
}

.nav-item h6 {
    text-align: center;
    margin-top: 1rem;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.nav-item a {
    display: block;
    text-align: center;
    margin-top: 0.5rem;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color: #ffffff;
}